body{
background:#000000;
color:white;
font-family:system-ui;
margin:0;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
cursor:none;
flex-direction:column;
}

.container{
max-width:600px;
padding:40px;
}

h1{
font-size:64px;
margin-bottom:10px;
letter-spacing:2px;
}

.subtitle{
color:#aaa;
margin-bottom:40px;
font-size:18px;
}

button{
padding:14px 30px;
margin:10px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:0.25s;
}

.download{
background:#7a5cff;
color:white;
}

.download:hover{
background:#5d3fff;
transform:scale(1.05);
}

.telegram{
background:transparent;
border:1px solid #7a5cff;
color:#7a5cff;
}

.telegram:hover{
background:#7a5cff;
color:white;
transform:scale(1.05);
}

.footer{
margin-top:40px;
color:#555;
font-size:14px;
}

/* cursor */

.cursor{
position:fixed;
width:20px;
height:20px;
background:#7a5cff;
border-radius:50%;
pointer-events:none;
transform:translate(-50%,-50%);
box-shadow:0 0 20px #7a5cff,0 0 40px #7a5cff;
}
.more{
    margin-top:50px;
    width:400px;
    height:500px;
    text-align: justify;
    font-family: monospace;
}
/* .logo{
width:200px;
margin-bottom:2px;
filter:brightness(1.2);
transition:0.3s;


}

.logo:hover{
transform:scale(1.05);
filter:drop-shadow(0 0 12px #7a5cff);
} */
.logo{
width:180px;
margin-bottom:20px;
animation:float 4s ease-in-out infinite;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-8px)}
100%{transform:translateY(0)}
}


.info-grid{
margin-top:80px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(800px,2fr));
gap:25px;
max-width:900px;
margin-left:auto;
margin-right:auto;
padding:0 20px;
}

.info-box{
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.08);
backdrop-filter:blur(12px);
padding:25px;
border-radius:12px;
text-align:left;
transition:0.3s;
}

.info-box:hover{
transform:translateY(-6px);
border-color:#7a5cff;
box-shadow:0 0 25px rgba(122,92,255,0.4);
}

.info-box h3{
margin-top:0;
margin-bottom:10px;
color:#ffffff;
}

.info-box p{
color:#bbb;
font-size:14px;
line-height:1.6;
}
.large-box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(16px);
    width: 100%;
    height: 180px;
    text-align: center;
    margin-top:30px;
    border-radius: 50px;
    color:rgb(253, 253, 253);
    margin-bottom:70px;
    border-color:white;
    border:2px solid white;
    
    

}
#ni{
color:#2f00ff;
}
